* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav {
    
    padding-left: 50px;
    border-top: 1px solid rgb(245, 172, 83);
    height: 30px;
    background-color: bisque;
    box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.37);
}

.nav ul li {
    position: relative;
    height: 20px;

    padding: 5px 10px;
    float: left;
    list-style: none;
    line-height: 20px;

}

.nav ul li a {
    display: inline-block;

    /* width: 50px; */

    font-size: 5px;
    text-align: center;

    color: #491816;

}

.nav ul li:hover {
    background-color: antiquewhite;
}


.Link ul {
    display: none;
    position: absolute;
    
    width: 60px;
    top: 30px;
    background-color: rgba(243, 215, 125, 0.705);
    box-shadow: 2px 1px 10px rgba(10, 10, 10, 0.37);
}

.Link ul li {
    width: 40px;
    
}

.Link ul li a {
    font-size: 5px;
    text-align: center;
}