body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    background-image: url("https://s3.bmp.ovh/imgs/2024/11/19/ada2bb34996f9005.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}

.header {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #0078d7;
}

.header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
